@media only screen and (min-width: 1024px) {
  body {
    padding: 0;
  }

  .block__upper {
    width: 37%;
  }

  .block__upper__header--nobold,
  .block__upper__header--bold {
    font-size: 2.4rem;
    line-height: 1.5;
  }

  .block__lower {
    flex-direction: row;
    margin: 50px auto 0;
  }

  .block__lower__child {
    width: 31%;
    padding: 30px;
  }

  .block__lower__child--twin {
    flex: 1;
    margin: auto 3.5%;
  }

  .child--team-builder,
  .child--karma {
    width: 100%;
  }

  .child--team-builder {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 1200px) {
  .block__lower__child {
    width: 360px;
  }

  .block__lower__child--twin {
    margin: auto 30px;
  }
}
